<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slothwerks.hearthstone.compendiumforhearthstone" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".fragments.CardDetail"
            android:label="@string/title_activity_card_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.slothwerks.hearthstone.compendiumforhearthstone.MainActivity" />
        </activity>
        <activity
            android:name=".ui.browse.BrowseActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.edit.DeckBuilderActivity"
            android:label="@string/title_activity_deck_builder"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.edit.ChooseClassActivity"
            android:label="@string/title_activity_choose_class" >
        </activity>
        <activity
            android:name=".activities.ChooseDeckActivity"
            android:label="@string/title_activity_choose_deck" >
        </activity>
        <activity
            android:name=".ui.decks.DeckManagementActivity"
            android:label="@string/title_activity_deck_management" >
        </activity>
        <activity
            android:name=".ui.view.ViewDeckActivity"
            android:label="@string/title_activity_view_deck" >
        </activity>
        <activity
            android:name=".ui.track.TrackDeckActivity"
            android:label="@string/title_activity_track_deck" >
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
